.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
}

.layout__main {
  flex: 1;
  background: var(--color-white);
  padding: 48px 64px 64px;
}

@media (max-width: 768px) {
  .layout__main {
    padding: 32px 20px;
  }
}