.datos-filtrados {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.datos-filtrados__filters {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.datos-filtrados__placeholder {
  min-height: 480px;
}